@import "lncs.scss";
@import "shared.scss";
@import "shared_override.scss";

header {
  .actions, .context {
    display: none;
  }
}

.display-block {
    display: block;
    float: none;
}

p code {
  font-size: 0.8em;
}

.noprint {
  display: none;
}
